@font-face{
    font-family:"Recoleta W05 Regular DEMO";
    src:url("Fonts/5674651/253f8cf2-28ba-4741-a5c8-197549f911f0.eot?#iefix");
    src:url("Fonts/5674651/253f8cf2-28ba-4741-a5c8-197549f911f0.eot?#iefix") format("eot"),url("Fonts/5674651/d2c309e0-9292-439c-972d-5258d8907457.woff2") format("woff2"),url("Fonts/5674651/97013165-cdbf-47ee-a207-4c5fc27d1aa0.woff") format("woff"),url("Fonts/5674651/14bea90f-1d2c-4bc9-a3f6-f3337504a51a.ttf") format("truetype");
}

@font-face{
    font-family:"Campton W05 Light DEMO";
    src:url("Fonts/5695472/005a6a75-2760-4811-b65a-21339b556872.eot?#iefix");
    src:url("Fonts/5695472/005a6a75-2760-4811-b65a-21339b556872.eot?#iefix") format("eot"),url("Fonts/5695472/424eb7b0-1d90-4ac5-b4f6-483051df992f.woff2") format("woff2"),url("Fonts/5695472/37173096-2a51-4620-a2fe-48d2ae795800.woff") format("woff"),url("Fonts/5695472/750b3bfd-5826-4eba-8fab-c2765faa082c.ttf") format("truetype");
}

@font-face{
    font-family:"Aubaine W03 UltraLight";
    src:url("Fonts/1583494/aac48f05-3ccd-49c7-a577-2691eefd9e5b.eot?#iefix");
    src:url("Fonts/1583494/aac48f05-3ccd-49c7-a577-2691eefd9e5b.eot?#iefix") format("eot"),url("Fonts/1583494/84475149-9b1b-43a9-8613-43115c0791e8.woff2") format("woff2"),url("Fonts/1583494/2c3078c3-071e-4d6a-bdc4-b7a797c4961a.woff") format("woff"),url("Fonts/1583494/9d23633d-f15a-4374-b9ff-97468ed69d98.ttf") format("truetype");
}

body {  
    background-color: ivory;
    font-family: "Aubaine W03 UltraLight", Charcoal, Impact, sans-serif;
}

ul {
    list-style-type: none;
    background-color:#FF847C;
    color: #2A363B;
    
}

li {
    display: inline;
    padding: 4%;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: ivory;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

    .active {
        background: #2A363B;
        padding-top: 3%;
        padding-bottom: 3%;
        color: white;
      }

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #14B2A1;
    height: 300px;
}

header img {
   margin-left: 10%;
   margin-top: 10%; 
   width: 50%;
   height: 60%;
}

header h1 {
    font-size: 3em;
    color: #2A363B;
    font-family: "Recoleta W05 Regular DEMO", Bookman, Garamond, serif;
    text-align: center;
    margin-top: 10%;
}
header h2 {
    font-size: 1.5em;
    color: ivory;
    text-align: center;
    margin-top: -4%;
    font-family: "Aubaine W03 UltraLight", Charcoal, Impact, sans-serif;
}

.current-conditions {
    width: 60%;
    height: 60%;
    color: #2A363B;
    font-size: 1em;
    border: 10px solid #2A363B;
    text-align: center; 
    margin-top: 10%;
    margin-left:30%;
    justify-items: center;
    align-items: center;
    
}

#menu {
    background-color:#FF847C;
    text-align: center;
    border: 10px solid #E84A5F;
}

#menu li:first-child { display: none;	}

main h2 {
    color: #2A363B;
    font-size: 40px;
    text-align: center;
}

#reallyflex {
    background-color: #14B2A1;
    color: ghostwhite;
    width: 50%;
    height: 50%;
    padding-top:1px;
    padding-left:10px; 
    margin-top:5%;  
    margin-left: 5%;
}

#flex {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/SandiaMtnNM.jpg");
    background-repeat: no-repeat;
    width: 70%;
    height: 400px;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
}

.fivedaysection {
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    height: 200%;
}

.fivedaysection h3 {
    color: #E84A5F;
    text-align: center;
}
#five-day-forecast {
    margin-left: 35%; 
    width: 30%;
    height: 90%;
}


.art {
    display: flex;
    background: #FF847C; 
    border: 2px solid black;
    color: #2A363B;
    width: 80%;
    margin-left: 10%;
    height: 90%;
    margin-top: 3%;
}


#article-title {
    text-align: left;
    margin-bottom: -3%;
    color: #2A363B;
    font-size: 40px;
}

#by-author {
    text-align: left;
    margin-bottom: 0;
    color: #2A363B;
}

#article-text {
    text-align: left;
}
.floater {
    text-align: left;
    margin-left: 5%;
}
.art img {
    float: right;
    margin-right: 2%;
    margin-top:3%;
    visibility: visible;
    width: 30%;
    height: 25%;
}

footer {
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 10%;
    border: 2px solid #2A363B;
    background-color: #14B2A1;
}

.theend {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 3%;
}
 #address {
    margin-left: 9%;
    margin-right: 8%;
    margin-top: 10%;
    color: white;
}

.map {
    /*justify-content: flex-start;*/
}

#bar {
    margin-bottom: 0;
    margin-top: -15px;
    background-color: #2A363B;
    height: 50px;
    text-align: center; 
}

#footerbar {
    padding-top: 10px;
    color: white;
}

p   {
    color: #2A363B;
}


