body {
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    background-color: silver;
    color: darkslategrey;
    margin: 10px;
    display: block;
    padding: 8px 16px;
}

a {
    text-decoration: none;
    color: white;
}

header {
	margin: 10px auto;
	background-color: turquoise;
	border: 1px solid #717f80;
    box-shadow: 0 0 30px #97f9ff;
    margin-bottom: 0;
}

header img {
    width: 120px;
    height: 120px; 
    position: absolute;
    top:25px; 
    left:40px;
    margin-right:50%;
}

header nav {
    position: center;
    
}

header h1 {
    font-size: 40px;
    color: #717f80;
    text-align: center;
    margin-left: 10%;
    margin-bottom: -30px;

}
header h2 {
    font-size: 25px;
    color: slategrey;
    text-align: center;
    margin-left: 10%;

}

#menu {
    background-color: ghostwhite;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

main h1 {
    color: slategray;
    font-size: 40px;
    text-align: center;
}

#trouble {
    width: 1100px;
    height: 450px;
}

#doubletrouble {
    background-color: darkslategrey;
    color: ghostwhite;
    width: 500px;
    height: 300px;
    padding-top:1px;
    padding-left:10px;
    margin-left: 25px;
}
hr {
    height: 15px;
    visibility: hidden;
}
.tripletrouble {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Burning_Yellow_Sunset.jpg");
    width: 1100px;
    height: 300px;
}
#art {
    background: gray; 
    text-align: center;
    border: 2px solid black;
}
#art img {
    width: 90%;
    height: 200px;
}

footer {
    border: 2px solid black;
    background-color: turquoise;
    text-align: center; 

}

footer img {
    width: 90%;
    height: 90%;
    margin-bottom: 0;
}

#bar {
    margin-top: 0;
    background-color: gray;
    height: 50px;
}