body {  
    display: grid;
    grid-template-columns: (1fr 1fr 1fr);
    background-color: #fecea8;
    font-family: fantasy;
    grid-gap: 0;
}

ul {
    list-style-type: none;
    background-color:#FF847C;
    color: #2A363B;
    
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    background-color: #14B2A1;
    grid-row: span 2; 
}

header img {
   float: left;
   margin-left: 5%;
   margin-top: 5%;
   margin-bottom: 5%; 
   width: 20%;
   height: 20%;
}

header h1 {
    font-size: 5em;
    color: #2A363B;
    font-family: fantasy;
    text-align: center;
    margin-top: 10%;
}
header h2 {
    font-size: 2.5em;
    color: #fecea8;
    text-align: center;
    margin-top: -4%;
}

#menu {
    text-align: center;
    border: 10px solid #E84A5F;
}

main h2 {
    color: #2A363B;
    font-size: 40px;
    text-align: center;
}

.trouble {
    grid-column: span 2;
}
#doubletrouble {
    float: left;
    width: 30%;
    background-color: #14B2A1;
    color: #E84A5F;
   
}
hr {
    visibility: hidden;
}
.tripletrouble {
    grid-row: span 2;
    width: 3fr;
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Burning_Yellow_Sunset.jpg");*/
}
#art {
    background: #FF847C; 
    text-align: center;
    border: 2px solid black;
    color: #2A363B;
}
#art img {
    width: 100%;
    
}

footer {
    border: 2px solid #2A363B;
    background-color: #14B2A1;
    text-align: center; 
}

footer p {
    color: white;
}

footer img {
   
}

#bar {
    
    background-color: #2A363B;
    color: white;
}

p   {
    color: #2A363B;
}


