body {
    display: grid; 
    background-color: #fecea8;
    font-family: fantasy;
}

ul {
    list-style-type: none;
    background-color:#FF847C;
    color: #2A363B;
    
}

a {
    text-decoration: none;
    color: white;
}

header {
	background-color: #14B2A1;
}

header img {
   float: left;
   margin-left: 10%; 
   width: 5%;
   height: 5%;
}

header nav {
    
    
}

header h1 {
    font-size: 3em;
    color: #2A363B;
    text-align: center;
    font-family: fantasy;
}
header h2 {
    font-size: 25px;
    color: #fecea8;
    text-align: center;
}

#menu {
    text-align: center;
}

main h1 {
    color: #2A363B;
    font-size: 40px;
    text-align: center;
}

#trouble {
 
}

#doubletrouble {
    background-color: #14B2A1;
    color: ghostwhite;
   
}
hr {
    visibility: hidden;
}
.tripletrouble {
    grid-column: span 1;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Burning_Yellow_Sunset.jpg");
}
#art {
    background: #FF847C; 
    text-align: center;
    border: 2px solid black;
    color: #2A363B;
}
#art img {
    
}

footer {
    border: 2px solid #2A363B;
    background-color: #14B2A1;
    text-align: center; 
}

footer p {
    color: white;
}

footer img {
   
}

#bar {
    
    background-color: #2A363B;
    color: white;
}

p   {
    color: #2A363B;
}


