
/*body {  
    background-color: #fecea8;
    font-family: fantasy;
}

ul {
    list-style-type: none;
    background-color:#FF847C;
    color: #2A363B;
    display: none;
    
}

li {
    display: inline;
    padding-right: 6%;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: red;
  }
  
  /* visited link */
  /*
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  /*
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  /*
  a:active {
    color: blue;
  }

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #14B2A1;
    height: 300px;
}

header img {
   margin-left: 10%;
   margin-top: 10%; 
   width: 60%;
   height: 60%;
}

header h1 {
    font-size: 4em;
    color: #2A363B;
    font-family: fantasy;
    text-align: center;
    margin-top: 10%;
}
header h2 {
    font-size: 1.5em;
    color: #fecea8;
    text-align: center;
    margin-top: -4%;
}

.current-conditions {
    width: 60%;
    height: 60%;
    color: #2A363B;
    font-size: 1em;
    border: 10px solid #2A363B;
    text-align: center; 
    margin-top: 10%;
    margin-left:30%;
    justify-items: center;
    align-items: center;
    
}

#menu {
    background-color:#FF847C;
    text-align: center;
    border: 10px solid #E84A5F;
}

main h2 {
    color: #2A363B;
    font-size: 40px;
    text-align: center;
}

#reallyflex {
    background-color: #14B2A1;
    color: ghostwhite;
    width: 50%;
    height: 50%;
    padding-top:1px;
    padding-left:10px; 
    margin-top:5%;  
    margin-left: 5%;
}

#flex {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/SandiaMtnNM.jpg");
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

.fivedaysection {
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    height: 200%;
    display: none;
}

.fivedaysection h3 {
    color: #E84A5F;
    text-align: center;
}
#five-day-forecast {
    margin-left: 35%; 
    width: 30%;
    height: 90%;
}


.art {
    display: flex;
    background: #FF847C; 
    border: 2px solid black;
    color: #2A363B;
    width: 80%;
    margin-left: 10%;
    height: 90%;
    margin-top: 3%;
}


#article-title {
    text-align: left;
    margin-bottom: -3%;
    color: #2A363B;
    font-size: 40px;
}

#by-author {
    text-align: left;
    margin-bottom: 0;
    color: #2A363B;
}

#article-text {
    text-align: left;
}
.floater {
    text-align: left;
    margin-left: 5%;
}
.art img {
    float: right;
    margin-right: 2%;
    margin-top:3%;
    visibility: visible;
    width: 30%;
    height: 25%;
}

footer {
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 10%;
    border: 2px solid #2A363B;
    background-color: #14B2A1;
}

.theend {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 3%;
}
 #address {
    margin-left: 9%;
    margin-right: 8%;
    margin-top: 10%;
    color: white;
}

.map {
    /*justify-content: flex-start;*/
}
/*
#bar {
    margin-bottom: 0;
    margin-top: -15px;
    background-color: #2A363B;
    color: white;
    height: 50px;
    text-align: center; 
}

#footerbar {
    padding-top: 10px;
}

p   {
    color: #2A363B;
}
*/

body {
    background-color: #fecea8;
    font-family: fantasy;
}

ul {
    list-style-type: none;
    background-color:#FF847C;
    color: #2A363B;
    margin: 10px;
    display: block;
    padding: 8px 16px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: inline-block;
	width: 100%;
	background-color: #14B2A1;
	margin-bottom: -50%;
}

header img {
    float: left;
    width: 15%;
    height: 15%;
    margin-left: 3%;
    margin-top: 3%;
}

header h1 {
    font-size: 1em;
    color: #2A363B;
    text-align: center;
    margin-left: 10%;
    font-family: fantasy;
}
header h2 {
    font-size: 0.5em;
    color: #fecea8;
    text-align: center;
    margin-left: 10%;
}

.current-conditions {
    display: none;
}
#menu {
    /* border-top: 0; */
    margin-top: 1.3em;
    /* padding-top: 0; */
    text-align: center;
}

.hideme {
    display: none;
}

main h2 {
    color: #2A363B;
    font-size: 85%;
    text-align: center;
}

#reallyflex {
    background-color: #14B2A1;
    color: ghostwhite;
    width: 50%;
    height: 85%;
    padding-top:1px;
    padding-left:10px; 
    margin-top:5%;  
    margin-left: 5%;
}

#reallyflex h4 {
    font-size: 50%;
}

#reallyflex p {
    font-size: 40%;
}

#flex {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/SandiaMtnNM.jpg");
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}  

.fivedaysection {
    display: none;
}

#trouble {
    width: 1100px;
    height: 450px;
}

.art {
    /*display: flex;*/
    background: #FF847C; 
    border: 2px solid black;
    color: #2A363B;
    width: 80%;
    margin-left: 10%;
    height: 90%;
    margin-top: 3%;
}


#article-title {
    text-align: left;
    margin-bottom: -3%;
    color: #2A363B;
    font-size: 80%;
}

#by-author {
    font-size: 60%;
    text-align: left;
    margin-bottom: 0;
    color: #2A363B;
}

#article-text {
    text-align: left;
    font-size: 50%;
}
.floater {
    text-align: left;
    margin-left: 5%;
}
.art img {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    visibility: visible;
    width: 90%;
    height: 50%;
}

footer {
    border: 2px solid #2A363B;
    background-color: #14B2A1;
    text-align: center; 
}

footer p {
    color: white;
}

footer img {
    width: 90%;
    height: 90%;
    margin-bottom: 0;
}

#bar {
    margin-top: 0;
    background-color: #2A363B;
    color: white;
    height: 50px;
}

p   {
    color: #2A363B;
}



